/* Header */
.menu-wrapper {
  width: 100%;
  top: 0%;
  margin: 20%;
  display: flexbox;
}

.logo-wrapper{
  max-width: 40%;
}
.logo-wrapper:hover{
  transform: scale(1.04);
 transform:translateY(2);
  transition-duration: 200ms;
}






@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}